<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.net>
</system.net>
<appSettings>
  <add key="PYTHONPATH" value="C:\calliplant\www.earlyfont.com\api" />
  <add key="WSGI_HANDLER" value="app.app" />
  <add key="WSGI_LOG" value="C:\calliplant\www.earlyfont.com\api\app.log" />
</appSettings>
    <system.webServer>
        <handlers>
            <add name="pythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\calliplant\www.earlyfont.com\api\venv\Scripts\python.exe|C:\calliplant\www.earlyfont.com\api\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="flask" enabled="false" stopProcessing="true">
                    <match url="api(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/api/{R:1}" />
                </rule>
            </rules>
        </rewrite> 
    </system.webServer>
</configuration>