.advantages {
  padding-top: 20vh;
  height: 100%;
}
.advantages > .advantage_container:first-child {
  height: 200vh;
}
.advantages > .advantage_container:first-child {
  position: relative;
}
.advantage_container {
  text-align: center;
  margin: auto;
  background-color: white;
}
.advantage_container_fast {
  position: -webkit-sticky;
  position: sticky;
  top: 150px;
  text-align: center;
  width: 40%;
  margin: auto;
}
.advantage_container_fast > h1,
.advantage_container_texts > h1 {
  margin-bottom: 2rem;
  color: #1b1b63;
  font-family: "S-CoreDream-6Bold";
}
.advantage_container_fast > p,
.advantage_container {
  font-size: 1.2rem;
}
.advantage_container_fast > img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}
.bubble_right::after {
  content: "";
  background-image: url("./Images/bubble.png");
  background-size: 100% 100%;
  left: 122%;
  position: absolute;
  top: 40%;
  opacity: 0.5;
  height: 500px;
  width: 300px;
}

.bubble_left::before {
  content: "";
  background-image: url("./Images/bubble2.png");
  background-size: 100% 100%;
  left: -70%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  height: 500px;
  width: 300px;
}

.advantage_container > h1 {
  color: #1b1b63;
  margin: 2rem 0;
  font-family: "S-CoreDream-6Bold";
}
.advantage_texts {
  position: relative;
}
.advantage_texts::before {
  content: "";
  width: 70%;
  height: 4px;
  left: 11%;
  background-color: rgb(210, 210, 222);
  position: absolute;
}
.advantage_text_fast {
  width: fit-content;
  max-width: 111px;
  text-align: center;
  position: absolute;
  top: -25px;
  font-size: 1.3rem;
}
.advantage_text_fast_time {
  width: fit-content;
  padding: 0.2rem;
  background-color: rgb(025, 024, 100);
  color: white;
  border-radius: 200px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: auto;
}
.advantage_container_pretty {
  margin-top: 10rem;
  background: rgb(237, 238, 234);
  padding: 7rem 0;
  overflow: hidden;
}
/* .advantage_container_pretty > .advantage_container_texts,
.advantage_container_pretty > .advantage_container_pretty_img {
  background: rgb(237, 238, 234);
  position: relative;
} */
.advantage_container_texts {
  width: 85%;
  margin: auto;
}
.advantage_container_cheap > .advantage_container_texts {
  position: relative;
}
.advantage_container_cheap {
  /* overflow: hidden; */
  padding: 7rem 0;
}
.advantage_container_cheap > .advantage_container_texts::before {
  content: "";
  background-image: url("./Images/bubble2.png");
  background-size: 100% 100%;
  left: 0;
  position: absolute;
  top: -85%;
  opacity: 0.5;
  height: 500px;
  width: 300px;
}
.advantege_cheap_img::after {
  content: "";
  background-image: url("./Images/bubble.png");
  background-size: 100% 100%;
  left: 75%;
  position: absolute;
  top: 70%;
  opacity: 0.5;
  height: 500px;
  width: 300px;
}
@-webkit-keyframes fade_in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-moz-keyframes fade_in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@-o-keyframes fade_in {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.advantage_fast_img {
  -webkit-animation: fade_in 1s ease-in;
  -moz-animation: fade_in 1s ease-in;
  -o-animation: fade_in 1s ease-in;
  animation: fade_in 1s ease-in;
}
/* .advantage_text_fast_time::before {
  content: "";
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 250px;
  border: 3px solid rgb(025, 024, 100);
  top: -7px;
  left: 22px;
} */

.advantage_text_fast_explain {
  color: rgb(025, 024, 100);
  font-weight: 800;
  margin-top: 1rem;
  font-family: "S-CoreDream-6Bold";
}
/* .advantage_text_fast_time > span {
  padding: 1.2rem;
  border: 1px solid red;
  border-radius: 200px;
} */
.advantage_container_pretty_img {
  margin: 3rem auto auto;
  position: relative;
  width: fit-content;
}
.advantage_container_pretty_img > img {
  max-width: 450px;
  max-height: 650px;
  width: 100%;
  height: 100%;
  position: relative;
  background: rgb(237, 238, 234);
}

.point_line {
  position: absolute;
  width: 250px;
}
.pointer_1 {
  top: 1%;
  left: 73%;
}
.pointer_2 {
  top: 24%;
  left: -8.5%;
}
.pointer_3 {
  top: 74%;
  left: 56%;
}
.adv_circle {
  fill: blue;
  opacity: 0.35;
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.pointer_1 > polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear 0s infinite;
}
.pointer_2 > polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear 0.5s infinite;
}
.pointer_3 > line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear 1s infinite;
}
.point_line_texts {
  position: absolute;
  width: fit-content;
  text-align: left;
}
.point_line_texts > h3 {
  color: #1b1b63;
}
.point_line1_text {
  top: 3%;
  left: 114%;
}

.point_line2_text {
  top: 22%;
  left: -75%;
}
.point_line3_text {
  top: 76%;
  left: 115%;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.advantege_cheap_img {
  margin-top: 5rem;
  position: relative;
}
.advantege_cheap_img > img {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
}
.advantege_cheap_img > img:last-child {
  position: absolute;
  left: 30%;
  max-width: 600px;
  max-height: 600px;
}
@media screen and (max-width: 960px) {
  .advantage_container_fast {
    width: 80%;
  }

  .point_line_texts {
    display: none;
  }
  .pointer_2 {
    left: -13.5%;
  }
  .pointer_3 {
    left: 51%;
  }
  .point_line > polyline,
  .point_line > line {
    display: none;
  }

  .bubble_left::before,
  .bubble_right::after,
  .advantage_container_cheap::before {
    display: none;
  }
  .advantege_cheap_img > img {
    width: 40%;
  }
  .advantage_container_cheap::after {
    display: none;
  }
  .advantage_texts::before {
    content: "";
    width: 78%;
    height: 4px;
    left: 10%;
    background-color: rgb(210, 210, 222);
    position: absolute;
  }

  .advantege_cheap_img {
    display: flex;
    overflow: hidden;
  }
  .advantege_cheap_img > img {
    width: 200px;
    height: 300px;
  }
  .end_pic_container > img {
    margin-left: 16%;
  }
}
