.feature {
  background-color: #1b1b63;
  position: relative;
  padding: 10rem 0;
}

.feature_main {
  width: 80%;
  margin: auto;
  color: white;
  text-align: right;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature_main > img {
  width: 100%;
  position: relative;
  z-index: 2;
  margin: 3rem 2rem 0;
  max-width: 700px;
}
.feature_main_text {
  position: relative;
  z-index: 2;
  text-align: center;
}

.feature_main_text > h3 {
  margin: 5rem 0;
  font-family: "S-CoreDream-6Bold";
}
.feature_main_text > p {
  font-size: 1.2rem;
}
@media screen and (max-width: 960px) {
  .feature {
    padding: 3rem 0;
  }
  .feature_main_text > h3 {
    margin: 4rem 0;
    font-size: 1.3rem;
  }
  .feature_main_text > p {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
  .feature_main > img {
    width: 100%;
    margin: 0;
  }

  .advantage_text_fast {
    width: fit-content;
  }
}
