.header {
  height: 80px;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

.header_container {
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
  color: white;
}

.nav_items {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.nav_item {
  list-style: none;
  margin-left: 1rem;
  line-height: 80px;
}
.nav_item > a {
  text-decoration: none;
  color: inherit;
}
