.branding {
  width: 100%;
}
.branding_banner {
  background: #1b1b63;
  color: white;
  margin: auto;
  text-align: center;
  padding: 7rem 0;
  margin-top: -80px;
}
.branding_banner > h1 {
  font-family: "S-CoreDream-6Bold";
  position: relative;
  width: fit-content;
  margin: 2rem auto 4rem;
}
.branding_banner > h1::before {
  content: "";
  width: 100%;
  height: 4px;
  background: white;
  position: absolute;
  top: 103%;
  animation: show-up 0.5s linear;
}
@keyframes show-up {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
.branding_feature {
  width: 80%;
  margin: auto;
  padding: 10rem 0 0;
  height: 105vh;
}
.branding_feature_title {
  text-align: center;
  position: relative;
  opacity: 1;
}

.branding_feature_title_container > h1 {
  font-family: "S-CoreDream-6Bold";
  padding: 1rem;
  border: #1b1b63 6px solid;
  font-size: 1.17rem;
}
.branding_feature_title_container {
  width: 100%;
  max-width: 550px;
  margin: auto;
  position: relative;
}
.branding_feature_title_container > svg {
  position: absolute;
  top: -8%;
  left: 0;
}
.branding_svg_title {
  animation: dash 0.7s linear;
}
.branding_svg_content1 {
  animation: dash1 2s linear;
}
.branding_svg_content2 {
  animation: dash2 2s linear;
}
.branding_feature_svg {
  fill: none;
  stroke: #181863;
  stroke-width: 10;
  stroke-miterlimit: 10;
  animation: dash 3s linear 0s;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.branding_svg {
  fill: none;
  stroke: #181863;
  stroke-miterlimit: 10;
  stroke-width: 6px;

  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}
/* .branding_feature_contents {
  height: 600px;

  margin-top: -5%;
} */
.branding_feature_contents_container {
  /* position: relative;
  max-height: 500px;
  height: 500px;
  width: 100%; */
  margin-top: -2px;
  text-align: center;
  position: relative;
}
.branding_feature_contents_position > svg {
  top: 1% !important;
}
.branding_feature_contents_container > svg {
  /* max-height: 500px;
  height: 100%;
  width: 100%; */
  /* position: absolute; */
  top: 2%;
  left: 4%;
  animation: dash1 3s linear 3s;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}
.branding_feature_contents_texts1 {
  position: absolute;
  top: 8%;
  left: 52%;
  animation: slidein_left 1s linear;
  text-align: left;
}
.branding_feature_contents_texts1 > h1,
.branding_feature_contents_texts2 > h1 {
  font-family: "S-CoreDream-6Bold";
  margin-bottom: 2rem;
  color: #181863;
  font-size: 1.4rem;
}
.branding_feature_contents_texts1 > p {
  padding-left: 2rem;
}
.dis_none {
  opacity: 0;
  display: none;
}
.branding_feature_contents_texts2 {
  position: absolute;
  top: 57%;
  left: 21%;
  text-align: right;
  animation: slidein_right 1s linear;
}

.branding_feature_contents_texts2 > p {
  padding-right: 2rem;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;

    stroke-dasharray: 1500;
  }

  100% {
    stroke-dashoffset: 0;

    stroke-dasharray: 2000;
  }
}
@keyframes dash1 {
  0% {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
  }

  100% {
    stroke-dashoffset: 0;

    stroke-dasharray: 1000;
  }
}

@keyframes dash2 {
  0% {
    opacity: 0;
    stroke-dashoffset: 1500;
    stroke-dasharray: 1500;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1000;
    opacity: 1;
  }
}
@keyframes slidein_left {
  from {
    transform: translateX(2000px);
  }

  to {
    transform: translateX(0);
  }
}
@keyframes slidein_right {
  from {
    transform: translateX(-2000px);
  }

  to {
    transform: translateX(0);
  }
}

.branding_font {
  height: 70vh;
  background: rgb(210, 209, 255);
  padding: 10rem 0;
  z-index: 10;
  position: relative;
}
.branding_font_texts {
  text-align: center;
  width: 80%;
  margin: auto;
}
.branding_font_texts > h1 {
  font-family: "S-CoreDream-6Bold";

  color: #181863;
  font-size: 1.7rem;
}
.branding_font_texts > img {
  width: 60%;
  margin: 6rem 0;
}
.branding_price {
  padding: 10rem 0;
}
.branding_price_compare {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.branding_price_compare > h1,
.branding_price_texts > h1 {
  font-family: "S-CoreDream-6Bold";
  margin-bottom: 7rem;
  color: #181863;
  text-align: center;
  font-size: 1.7rem;
}
.branding_price_compare > img {
  width: 70%;
  margin: auto;
}
.branding_price_texts {
  text-align: center;
  margin-top: 10rem;
}
.branding_price_texts > p {
  line-height: 2rem;
}
.branding_link > h1 {
  font-family: "S-CoreDream-6Bold";
  margin: 10rem 0;
  color: #181863;
  text-align: center;
  font-size: 1.7rem;
}
.branding_link_to {
  display: flex;
  justify-content: center;
}
.branding_link_to > a {
  text-decoration: none;
  color: #181863;
  font-size: 1.5rem;
  font-family: "S-CoreDream-6Bold";
  border: #181863 3px solid;
  padding: 0.5rem;
  transition: all 0.5s linear;
  width: fit-content;
  text-align: center;
  margin-right: 5rem;
}
.branding_link_to > a:hover {
  color: white;
  background: #181863;
}
@media screen and (max-width: 960px) {
  .branding_banner {
    padding: 9rem 1rem 7rem;
  }
  .branding_banner > h1 {
    font-size: 1.5rem;
  }
  .branding_feature {
    width: 90%;
  }
  .branding_feature_title_container > h1 {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .branding_feature {
    padding: 7rem 0 4rem;
    height: 85vh;
  }
  .branding_feature_contents_container {
    height: 100%;
  }
  .branding_feature_contents_container > svg {
    width: 100%;
    height: 100%;
  }
  .branding_feature_contents_texts1 {
    top: 4%;
  }
  .branding_feature_contents_texts1 > h1,
  .branding_feature_contents_texts2 > h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .branding_feature_contents_texts1 > p,
  .branding_feature_contents_texts2 > p {
    padding: 0;
    font-size: 0.9rem;
  }
  .branding_feature_contents_position > svg {
    top: -36% !important;
    left: 0 !important;
  }
  .branding_feature_contents_texts2 {
    top: 50%;
    left: 0;
    text-align: left;
    width: 200px;
  }
  .branding_price {
    padding: 7rem 0;
  }
  .branding_price_compare {
    width: 100%;
  }
  .branding_price_compare > img {
    width: 90%;
  }
  .branding_price_texts {
    width: 80%;
    margin: 7rem auto;
  }
  .branding_link {
    width: 85%;
    margin: auto;
  }

  .branding_price_compare > h1,
  .branding_price_texts > h1 {
    font-size: 1.4rem;
  }
  .branding_link > h1 {
    font-size: 1.3rem;
    margin: 6rem 0;
  }
  .branding_link_to > a {
    font-size: 1rem;
  }
  .branding_link_to {
    justify-content: space-around;
    flex-direction: column;
    height: 10rem;
  }
  .branding_font_texts > img {
    width: 100%;
  }
}
