.portfolio {
  width: 80%;
  margin: 3rem auto;
}
.portfolio_detail {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 1rem;
}
.portfolio_detail > img {
  width: 70%;
  height: 15rem;
  object-position: center center;
  flex: 0.8;
}
.portfolio_detail_texts {
  flex: 0.2;
}
.portfolio_detail_texts > h2 {
  text-align: center;
}
.introFont_more {
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  font-weight: 600;
  color: grey;
}
